
.ipynb_checkpoints/Untitled-checkpoint.ipynb
datasets/__pycache__/image_folder.cpython-37.pyc
.vscode/settings.json
*.pyc
datasets/train.csv
*.csv
*.jpg
models/resnet.py
*.pth
*.json
models/ssd/utils.py
models/ssd/model.py
models/retinanet/utils.py
models/retinanet/retina_collator.py
models/retinanet/model.py
models/retinanet/loss.py
models/retinanet/fpn.py
models/retinanet/encoder.py
loggers/runs/events.out.tfevents.1597858850.KAY-PC.6804.0
.ipynb_checkpoints/Testing Notebook-checkpoint.ipynb
